# Makefile の clean: (10-11行目) を参照
/*.cmp
/*.ppm
/*.ppm.tmp
/ppmdiff
/raytrace
/RayTrace
/*.sld_
/*.cmo
/*.cmx
/*.cmi
/*.o
/min-rt_b
/min-rt
/min-rt.s
/min-rt.min-caml
# min-rt.txtをどうするか(Makefileも書き換える)
